# Compilation artifacts
*.o
*.S

# Temporary files
*.swp
*~

# Directories
/build

# CMake stuff
CMakeFiles
cmake_install.cmake
CMakeCache.txt

# Editor stuff
/.vscode
*.code-workspace

# Config files
*src-prikey-handle.txt
*src-prikey-wrap.bin
*src-pub.bin
*src-pub.pem
*src-parentkey-handle.txt
*client_data.txt
*.pub
*.priv
*.pem
policy/*

tests/DemoFiles/Generated
tests/DemoFiles/targFiles/*

stubs/CACL_Demo_Args.sml
extracted/CACL_Demo_Args.cml

# Backup files
*backup.*