# Compilation artifacts
*.o
*.S

# Temporary files
*.swp
*~

# Directories
/build

# CMake stuff
CMakeFiles
cmake_install.cmake
CMakeCache.txt

# Editor stuff
/.vscode
*.code-workspace

# Config files
apps/demo/*.txt
apps/demo/*.bin
apps/demo/*.pem
stubs/IO_Stubs_extra.sml
./do_extract.sh